@import '../../styles/vars.scss';

@keyframes enterBadges {
  from {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
}

.home-container {
  margin-top: 5rem;
  justify-content: center;
}

.input {
  border-radius: calc(1.5em + 0.75rem + 2px) !important;
}

.input-container {
  text-align: center;
  h4 {
    width: 100%;
  }
  justify-content: center;
  .input-group {
    width: 60%;
  }
}

.btn-search {
  position: absolute;
  border: none;
  background-color: transparent;
  z-index: 4;
  right: 2px;
  &:focus {
    border: none;
    box-shadow: none;
  }
  &:hover {
    transform: scale(1.2);
  }
}

.word-badge {
  display: block;
  animation: enterBadges 0.4s ease-in 0.1s;
  margin: 0.25rem;
  background-color: #28a138;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.isLoading {
  width: 100%;
  display: grid;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-content: center;
  justify-content: center;
  text-align: center;
}

.words-container {
  justify-content: center;
  text-align: center;
  .card {
    width: 100%;
    span {
      width: fit-content;
    }
  }
  h4 {
    margin: 1rem 0px;
    width: 100%;
  }
}
